@model IEnumerable<FortuneSystem.Models.Usuarios.CatUsuario>

@{
    ViewBag.Title = "USERS";
    Layout = "~/Views/Shared/_Layout.cshtml";

}
<style>
    tr.highlighted td {
        background: #b3e0ff;
    }

    table thead {
        color: #fff;
        background-color: #006bb3;
    }

    th {
        color: #fff;
        background-color: #006bb3;
    }

    #nuevo-usuario {
        margin-left: 50px;
        margin-top: 1px;
        width: 140px;
        height: 40px;
        border: none;
        font-size: 15px;
        font-weight: 600;
    }
</style>

@{
    if (TempData["usuarioOK"] != null)
    {
        <script type="text/javascript">
            alertify.set('notifier', 'position', 'top-right');
            alertify.notify(@Html.Raw(Json.Encode(TempData["usuarioOK"])), 'success', 5, null);

        </script>
    }
    if (TempData["usuarioError"] != null)
    {
        <script type="text/javascript">
            alertify.set('notifier', 'position', 'top-right');
            alertify.notify(@Html.Raw(Json.Encode(TempData["usuarioError"])), 'error', 5, null);

        </script>
    }
    if (TempData["usuarioEditar"] != null)
    {
        <script type="text/javascript">
            alertify.set('notifier', 'position', 'top-right');
            alertify.notify(@Html.Raw(Json.Encode(TempData["usuarioEditar"])), 'success', 5, null);

        </script>
    }
    if (TempData["usuarioEditarError"] != null)
    {
        <script type="text/javascript">
            alertify.set('notifier', 'position', 'top-right');
            alertify.notify(@Html.Raw(Json.Encode(TempData["usuarioEditarError"])), 'error', 5, null);

        </script>
    }
    if (TempData["usuarioEliminar"] != null)
    {
        <script type="text/javascript">
            alertify.set('notifier', 'position', 'top-right');
            alertify.notify(@Html.Raw(Json.Encode(TempData["usuarioEliminar"])), 'success', 5, null);

        </script>
    }

}
        <div class="panel panel-primary" id="consultaPO">
            <div class="panel-heading">
                <h3>
                    User administration
                </h3>
            </div>
            <br />

            <p>
                <a href="@Url.Action("CrearUsuario")">
                    <button type="button" class="btn btn-primary" id="nuevo-usuario" data-toggle="modal">
                        <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span> Add New User
                    </button>
                </a>
            </p>
            <br />
            <table class="table table-striped" id="tablaUsuarios">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.NoEmpleado)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Nombres)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Cargo)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Email)
                        </th>
                        <th>ACTIONS</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.NoEmpleado)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.NombreCompleto)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.CatRoles.Rol)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Email)
                            </td>
                            <td>
                                @Html.ActionLink(" ", "Edit", new { id = item.Id }, new { @class = "btn btn-default glyphicon glyphicon-edit", @style = "color:black", @Title = "Edit User" }) |
                                @Html.ActionLink(" ", "Details", new { id = item.Id }, new { @class = "btn btn-default glyphicon glyphicon-search", @style = "color:black", @Title = "Details User" }) |
                                @Html.ActionLink(" ", "Eliminar", new { id = item.Id }, new { @class = "btn btn-default glyphicon glyphicon-trash", @style = "color:black", @Title = "Delete User" })
                            </td>
                        </tr>
                    }
                </tbody>
            </table>

        </div>

<script>
    $('#tablaUsuarios tr').click(function (e) {
        $('#tablaUsuarios tr').removeClass('highlighted');
        $(this).addClass('highlighted');
    });
</script>